/*
* index.css
* put your css here
*/

* {
	box-sizing: border-box;
	margin: 0;
}

body, html{
     height: 100vh;
}

body {
    background-color: #D2E1DE;
}

.loginButton {
    background-color: #8EBBA7;
    color: #ffffff;
}

.signUpButton {
    background-color: #8EBBA7;
    color: #ffffff;
}


#loginPageDiv input, #signUpPageDiv input {
    border: 1px solid #8EBBA7;
    margin-bottom: 0.5em;
}

#signUpPageDiv select {
    border: 1px solid #8EBBA7;
    margin-bottom: 0.5em;
}

#signUpPageDiv option {
    padding: 0;
}

.noPadding {
    padding: 0 !important;
}

.alert-success {
    background-color: #8EBBA7;
}

h2 {
    font-size: 8vh;
}
h4 {
    font-size: 3.5vh;
}

#footer { 
    width: 100%;
    height:  8vh;
    background-color: #8EBBA7;
    border-top: 0.25em solid #648476;
    font-size: 2vh;
}


#mapViewDiv, #listViewDiv, #searchViewDiv, #calendarViewDiv, #messagesViewDiv, #profileViewDiv 	{ height:  84vh; }  /* map gets some height          	*/

#signUpPageDiv img, #loginPageDiv img {
    height: 18vh;
}

#homePageHeader {
    height: 8vh;
    background-color: #ffffff;
    border-bottom: 0.25em solid #648476;
}

#loginPageDiv .alert, #signUpPageDiv .alert {
    padding: .20em;
}

.centerDiv {
    margin: auto auto;
}

.iconFitInput {
    border: 1px solid #8EBBA7;
    height: 38px;
}

span i {
    color: #ffffff;
}

.iconSpan {
    background: #8EBBA7;
}

.headerIcon {
    color: #8EBBA7;
    font-size: 5.5vh;
}
/*
.footerIcon {
    color: #ffffff;
    font-size: 4vh;
}*/

.headerButton {
    background-color: transparent;
    border-radius: 0;
}

.halfLeftPaddingButton {
    padding-left: 6px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footerButton {
    width: 25vw;
    background-color: transparent;
    border-radius: 0;
    font-size: 2vh;
    color: #ffffff;
    /*height: 8vh;*/
}


.footerButton:focus, .active {
    color:red;
    border: 1 solid blue;
    /*height: 8vh;*/
}

#footer span {
    padding-top: 0.3vh;
    color: #ffffff;
    font-size: 4vh;
}

#homePageMapViewHeader {
    color: #648476;
    font-size: 3.5vh;
    margin-bottom: 0;
}

#homePageMapViewSubHeader {
    color: #8EBBA7;
    font-size: 2vh;
    margin-bottom: 0;
}

.testclass, .testclas span {
    color:red;
}







