/*
* index.css
* put your css here
*/

* {
	box-sizing: border-box;
	margin: 0;
}

body, html{
     height: 100vh;
}

body {
    background-color: #D2E1DE;
}

.loginButton {
    background-color: #8EBBA7;
    color: #ffffff;
}

.signUpButton {
    background-color: #8EBBA7;
    color: #ffffff;
}


#loginPageDiv input, #signUpPageDiv input {
    border: 1px solid #8EBBA7;
    margin-bottom: 0.5em;
}

#signUpPageDiv select {
    border: 1px solid #8EBBA7;
    margin-bottom: 0.5em;
}

#signUpPageDiv option {
    padding: 0;
}

.noPadding {
    padding: 0 !important;
}

.alert-success {
    background-color: #8EBBA7;
}

h2 {
    font-size: 8vh;
}
h3 {
    font-size: 6vh;
}
h4 {
    font-size: 3.5vh;
}

#footer { 
    width: 100%;
    height:  8vh;
    background-color: #8EBBA7;
    border-top: 0.25em solid #648476;
    font-size: 2vh;
}


#mapViewDiv, #listViewDiv, #searchViewDiv, #calendarViewDiv, #messagesViewDiv, #profileViewDiv, #eventViewDiv 	{ height:  84vh; }  /* map gets some height          	*/

#signUpPageDiv img, #loginPageDiv img {
    height: 18vh;
}

#homePageHeader {
    height: 8vh;
    background-color: #ffffff;
    border-bottom: 0.25em solid #648476;
}

#loginPageDiv .alert, #signUpPageDiv .alert {
    padding: .20em;
}

.centerDiv {
    margin: auto auto;
}

.iconFitInput {
    border: 1px solid #8EBBA7;
    height: 38px;
}

span i {
    color: #ffffff;
}

.iconSpan {
    background: #8EBBA7;
}

.headerIcon {
    color: #8EBBA7;
    font-size: 5.5vh;
}
/*
.footerIcon {
    color: #ffffff;
    font-size: 4vh;
}*/

.headerButton {
    background-color: transparent;
    border-radius: 0;
}

.halfLeftPaddingButton {
    padding-left: 6px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footerButton {
    width: 25vw;
    background-color: transparent;
    border-radius: 0;
    font-size: 2vh;
    color: #ffffff;
    /*height: 8vh;*/
}


.footerButton:focus, .active {
    color:red;
    border: 1 solid blue;
    /*height: 8vh;*/
}

#footer span {
    padding-top: 0.3vh;
    color: #ffffff;
    font-size: 4vh;
}

#homePageMapViewHeader {
    color: #648476;
    font-size: 3.5vh;
    margin-bottom: 0;
}

#homePageMapViewSubHeader {
    color: #8EBBA7;
    font-size: 2vh;
    margin-bottom: 0;
}

.testclass, .testclas span {
    color:red;
}

/*Messages*/

.clickable {

}

#messagesViewDiv { background-color: #ffffff; /*white*/ }

#messagehome { position: absolute; left:0; right:0; }
.msg-row>.d-table-cell { border-bottom: .125em solid #648476; padding:.25em; }
.msg-row{
    height: 8vh;
    padding: 1em;
    background-color: #f5f5f5;
}
/* new message button */
.new-msg {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}



/* sent messages */
#viewmessage{ height:80vh; }
#messagebox {
    /*display: table;*/
    overflow:   none;
    position:   relative;
    width:      100%;
    height:     auto;
}
#chatmessages {
    overflow:   auto;
    height: 100%;
}
.receivedmsg, .sentmsg {
    border-radius:  0.75rem;
    overflow-wrap:  break-word;
    word-wrap:      break-word;
    max-width:      40vw;
    min-width:      initial;
    padding:        0.3125rem;
    margin:         0.3125rem;
}
.fa-user-circle     { color: #276359; margin: 0.3125rem; font-size:2em; }
.usericon, .usermsg { float:left; padding-right: 0.3125rem; }
.msg-row>.usericon  { font-size: 1.5em; }

.msgtext       { margin-bottom: 0; }
.msgtext .small{ color:#cccccc; }
.receivedmsg   { background: #E6E6E6; color:#000; float:left;  clear:both; }
.sentmsg       { background: #8ebba7; color:#fff; float:right; clear:both; }

.msgtime                { color:#cccccc; font-size:0.8em; font-style:italic; }
.s-message>.msgtime     { float:right; clear:both; padding-left:0.3125rem; padding-right:0.3125rem; }
.r-message              { float:left; clear:both; }

#sendmessage{
    position:           absolute;
    left:               0;
    background-color:   #ffffff;
    width:              100vw;
    border-top: 2px solid #276359;

}
#messagetextbox, #submitbtn{
    margin-top: 0.3125rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: table-cell;
    vertical-align: middle;
}
#messagetextbox, #messagetextbox:hover, #messagetextbox:focus { border:none; outline:none; box-shadow:none; }




/* 
#viewmessage #sendmessage {
    width: 100%;
    height: 20%; /***************************************
    padding: 0 8px 0 12px;
    border-top: 2px solid #276359;
    position:   absolute;
    bottom:     0;
}
#sendmessage input[type=text]{
    flex-grow: 1;
    border: none;
}
#sendmessage input[type=submit]{
    border-radius: 15px;
    background-color: #8ebba7;
    color: white;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}


 */




